.container-title {
  font-size: 48px;
  letter-spacing: -1px;
  line-height: 32px;
  color: var(--mart-tcolor);
  font-family: var(--sec-font);
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin: 0px 0px 30px 0px;
}