.top-header {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: $accentp-color;
  justify-content: center;
  top: 0;
  align-items: center;
  margin: 0;
  color: $tophed-color;
  font-family: $main-font;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 11px;
  font-weight: 300;
}
.contacts-item {
  display: flex;
  margin-right: 70px;
}
.contacts-item__link {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-decoration: none;
}
.contact-item__text {
  display: block;
  text-decoration: none;
  color: $tophed-color;
  font-family: $main-font;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 11px;
  font-weight: 300;
  margin: 0;
}
.contacts-item__icon {
  display: block;
  width: 20px;
  margin: 0;
}
.contacts {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: 400px;
}
.top-nav {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
.top-nav__link {
  display: block;
  list-style: none;
  text-decoration: none;
  color: $tophed-color;
  font-family: $main-font;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 11px;
  font-weight: 300;
  margin: 0;
  text-transform: capitalize;
  &:hover {
    color: $mart-tcolor;
  }
  &:focus {
    color: $mart-tcolor;
  }
}
.top-nav__item {
  margin-right: 30px;
}
.topitemli:last-child {
  margin: 0;
}
.navig {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-button {
  font-size: 30px;
  font-family: $sec-font;
  text-transform: uppercase;
  color: inherit;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 32px;
  text-decoration: none;
}
.logo-m {
  font-size: 30px;
  font-family: $sec-font;
  text-transform: uppercase;
  color: $accent-color;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 32px;
  padding: 0;
  margin: 0;
}
.main-nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-item__link {
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: $nav-color;
  font-size: 14px;
  line-height: 11px;
  font-family: $main-font;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
  text-decoration: none;
  &:hover {
    color: $accent-color;
  }
  &:focus {
    color: $accent-color;
  }
}
