$accent-color: #1abc9c;
$nav-color: #000000;
$tophed-color: #fefefe;
$mart-tcolor: #515151;
$mart-icolor: #ffffff;
$blog-tcolor: #555252;
$list-color: #323232;
$prise-color: #8c8c8c;
$accentp-color: #7fd9c7;
$blogbutton-color: #4ec6ab;
$herotext-color: #fffcfc;
$main-font: 'Open Sans', sans-serif;
$sec-font: 'Roboto', sans-serif;
$focus-overlay: rgba(0, 0, 0, 0.5);
$focus-border: rgba(255, 255, 255, 0.8);
$anim-time: 250ms;
$anim-func: cubic-bezier(0.4, 0, 0.2, 1);
